<div class="container">
  <div class="bg-light p-10 rounded-lg m-3 jumbotron text-center text-white">
    <h1 class="display-4">Hello, welcome to ALPHA BLOG!</h1>
    <p class="lead">A blog featuring articles with CRUD operations with RoR!</p>
    <hr class="my-4">
    <p>A Simple Rails 6 App.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up!</a>
  </div>
  <div class="px-5">
    Photo by <a href="https://unsplash.com/@apollofotografie?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Giorgi Iremadze</a> on <a href="https://unsplash.com/t/nature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  </div>
</div>