<h1 class="text-center mt-4 mb-2">Create new category</h1>

<div class="row justify-content-center bg-form">
  <%= render 'form' %>
</div>

<div class="text-center">
  <%= link_to "[ Cancel and Return back to categories listing ]", categories_path, class: "text-primary" %>
</div>