<footer class="footer sticky-footer mt-auto py-3 bg-dark text-white-50 text-center">
      <div class="container">
        <span class="text-muted">Copyright &copy; 2021. Alpha Blog. All Rights Reserved.</span>
      </div>
</footer>